
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* Variable Font - Outfit */
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Poppins - Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins - Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Poppins - SemiBold */  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
  --primary: #FF6B6B;        /* Coral-Rot (warm, modern) */
  --secondary: #4ECDC4;      /* Türkis (frisch) */
  --accent: #FFD93D;         /* Pokemon-Gelb */
  --dark: #2C3E50;           /* Dunkles Blau-Grau */
  --light: #F8F9FA;          /* Fast-Weiß */
  --gradient: linear-gradient(135deg, #FF6B6B 0%, #4ECDC4 100%);

  --fire: #FF6B6B;
--water: #3498DB;
--grass: #2ECC71;
--electric: #F1C40F;
--psychic: #E74C3C;
--ice: #85C1E9;
--dragon: #8E44AD;
--dark: #34495E;
--fighting: #E67E22;
--poison: #9B59B6;

 --font-title: 'Outfit', sans-serif;
  --font-ui: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;






}